<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free restaurant catalogue for you">
  <meta name="theme-color" content="#DB0000" />

  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="./favicon.png">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css" />

  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous">

  <title>Restaurant Apps</title>
</head>

<body>
  <!-- Tautan Skip to Content -->
  <a href="#mainContent" class="skip-link">Skip to Content</a>
  <header>
    <nav class="nav">
      <button id="hamburgerButton" class="menu__toggler">☰ Menu</button>
      <div class="name__brand">
        <img src="/brand.png" alt="Logo Brand" loading="lazy">
      </div>
      <ul id="navigationDrawer" class="nav__list">
        <li class="nav__item"><a href="#/dashboard">Home</a></li>
        <li class="nav__item"><a href="#/favorite">Favorite</a></li>
        <li class="nav__item"><a href="https://www.linkedin.com/in/ridhwan-shodiq-r" target="_blank">About Us</a></li>
      </ul>
    </nav>
  </header>

  <main id="mainContent" tabindex="0">
  </main>

  <footer>Copyright © 2024 - Recommended Restaurant Apps</footer>

</body>

</html>